body {
  font-family: "Inter", sans-serif;
  background: #f5f7fa;
}

.auth-container {
  width: 320px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #5D0000;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  background: #5D0000;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-container p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 13px;
  color: #800000;
  cursor: pointer;
}

.auth-container span {
  font-size: 13px;
  color: #000;
}

.page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page h1 {
  text-align: center;
  color: #5D0000;
}

.page button{
  width: 25%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: #800000;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.page p {
  text-align: center;
}